.footer{
    background-color: black;
    color: azure;
    padding: 1rem;
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
}
.mail {
    text-align: start;
    margin-top:50px;
    padding: 50px;
    width: 50%;
    background-position:'center';
    background-size:"cover";
}

.mail h1 {
    margin-top: 25px;
}

.mail input {
    margin-bottom: 1em;
    padding: .4em;
    width: 50%;
}
.mail textarea{
    display: block;
    margin-bottom: 1em;
    width: 50%;
}
.mail form{
    margin: 25px,85px,75px,100px;
}
.contacts{
    display: block;
}
.contacts > div{
    margin: 1em;
}
